/*
 * Copyright (C) 2014 MSC Technologies, Design Center Aachen
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
/dts-v1/;

#include "msc-nR-imx6-133-014.dtsi"
#include "msc-nR-imx6-mb2-hdmi.dtsi"
#include "msc-nR-imx6-mb2-maxtouch.dtsi"


&iomuxc {
        uart3 {
                pinctrl_uart3_2: uart3grp {
                        fsl,pins = <
                                MX6QDL_PAD_EIM_D25__UART3_RX_DATA    0x1b0b1
                                MX6QDL_PAD_EIM_D24__UART3_TX_DATA    0x1b0b1
                        >;
                };
        };

        uart4 {
                pinctrl_uart4: uart4grp {
                        fsl,pins = <
                                MX6QDL_PAD_CSI0_DAT12__UART4_TX_DATA    0x1b0b1
                                MX6QDL_PAD_CSI0_DAT13__UART4_RX_DATA    0x1b0b1
                        >;
                };
        };
};

&adv7180 {
        status = "disabled";
};

&uart3 {
        pinctrl-0 = <&pinctrl_uart3_2>;
};

&uart4 {
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_uart4>;
                status = "okay";
        };

/ {
         soc {
                aips-bus@02100000 { /* AIPS2 */
                        i2cmux {
                                i2c2@0 {
                                        eeprom@54 {
                                           compatible = "at,24c64";
                                           pagesize = <32>;
                                           reg = <0x54>;
                                        };

                                };
                        };
                };
        };

};
